/*전체*/
.follow-container{
    margin-top: 10px;
    margin-left: 85px;
    width: 600px;
}

/*리스트 전체*/
.follow-list{

}

/*리스트 1개*/
.follow-list-01{
    display: flex;
    justify-content: space-between;
    height: 60px;
    margin-bottom: 10px;
}

/*닉네임-버튼 간격*/
.follow-list-02{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 550px;
}

/*닉네임*/
.follow-list-03{
    font-weight: bold;
    font-size: 14px;
    margin-top: 5px;
}

/*언팔 버튼*/
.follow-list-04{
    margin-top: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    width: 55px;
    height: 30px;
    color: #333;
    font-size: 14px;
    border-radius: 6px;
    text-decoration: none;
    transition: background-color 0.3s;
    text-align: center;
    cursor: pointer;
}

.mypage-follow-01{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
    color: rgb(47, 52, 56);;
}

.mypage-follow-02{
    margin-top: 10px;
}

.mypage-follow-04{
    margin: 1px 0px 0px;
    color: rgb(130, 140, 148);
    font-size: 12px;
}