/*전체*/
.mypage-container-01 {
    display: flex;
    flex-direction: row;
}

/*프로필 카드*/
.profile-card {
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    padding: 30px 30px 30px 30px;
    margin: 30px 30px 30px 100px;
    display: flex;
    align-items: center;
    height: 250px;
    width: 215px;
    min-width: 190px;
    flex-direction: column;
}

/*닉네임*/
.profile-card-nickname {
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 12px;
    margin-bottom: 7px;
}

/*팔로우*/
.profile-card-follow{
    display: flex;
}

/*팔로워 팔로잉*/
.profile-card-follow-02{
    font-size: 12px;
    color: #666;
    cursor: pointer;
}

/*팔로워 팔로잉 호버*/
.profile-card-follow-02:hover {
    color: #333;
    text-decoration: none;
}

/*문자|*/
.profile-card-text-01{
    font-size: 0.7rem;
    margin-left: 5px;
    margin-right: 5px;
    color: #ccc;
}

/*팔로우 숫자*/
.profile-card-follow-01{
    margin-left: 3px;
    color: #333;
}

/*설정 버튼*/
.setting-btn {
    display: inline-block;
    border: 1px solid #ccc;
    margin-top: 15px;
    width: 43px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #333;
    font-size: 10px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s;
    text-align: center;
}

/*설정 버튼 호버*/
.setting-btn:hover {
    background-color: #f5f5f5;
    color: #333;
    text-decoration: none;
}

