.message-modal {
  width: 500px !important;
  height: auto !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.message-modal2 {
  width: 500px !important;
  height: auto !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.message-modal .content {
  min-height: 500px;
  max-height: 800px;
  overflow-y: auto;
}

.message-modal2 .content {
  max-height: calc(100vh - 300px);
  overflow-y: auto;
}

.message-modal .actions {
  height: 70px;
}

.message-modal .content,
.message-modal2 .content {
  overflow-y: auto;
}





.message-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.message-sender {
  align-self: flex-start;
  background-color: #6272ff;
  color: white;
  border-radius: 0.3em;
  padding: 8px;
  margin-bottom: 2px;
}

.message-receiver {
  align-self: flex-end;
  background-color: #F39C12;
  color: white;
  border-radius: 0.3em;
  padding: 8px;
  margin-bottom: 2px;
}

.recommend-meal-container {
  margin-top: 8px;
  margin-bottom: 30px;
  padding: 8px;
  border-radius: 4px;
  background-color: #f0f0f0;
  text-align: center;
}





  
  .message-list-container {
    margin: 20px;
  }
  
  .message-list {
    list-style-type: none;
    padding: 0;
  }
  
  .message-list-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px; 
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .message-info-container {
    flex: 1;
    margin-left: 10px;
  }
  
  .message-info {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .unread-messages {
    display: inline-flex;
    align-items: center;
  }
  
  .unread-count {
    color: red;
    margin-left: 5px;
    font-weight: bold;
  }
  
  .nickname {
    font-weight: bold;
  }
  
  .message-date {
    margin-left: 10px;

  }
  
  .last-message {
    font-size: 15px;
    color: #777;
  }

  .right {
    margin-left: auto;
  }
  
 /* 프로필 이미지 처리 */
  .message-list-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
 
   